tkinter
customtkinter
pillow
numpy
pandas
scikit-learn
matplotlib
requests
beautifulsoup4
selenium
webdriver_manager
pymongo
python-dotenv
psutil
schedule
apscheduler
joblib
nltk
tensorflow
transformers
python-dateutil
tqdm
