.header {
	background-color: #ffffff;
	padding: 1.8em ;
	height: 1.6em;
	position: fixed;

	z-index: 1000;
	box-shadow: 0 4px 16px rgba(0, 0, 1, 0.07);
}

.navHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 1rem;
	height: 100%;
}


.logo, a {
	text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

.logoImg {
    height: 40px;
    width: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.navLinks {
    display: flex;
    gap: 2rem;
}

.navLink {
    text-decoration: none;
    color: #000000;
    font-size: 0.95rem;
    position: relative;
    transition: color 0.3s ease;
}

.navLink::after{
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

.navLink:hover::after {
    width: 100%;
}

.menuToggle, .socialIcons{
	display: none;
}


@media (max-width: 768px) {
	.menuToggle {
	  display: block;
	  font-size: 1.5rem;
	  z-index: 1100;
	}
	
	.socialIcons, a{
	  display: flex;
	  gap: 2rem;
	  font-size: 1.5rem;
	  color: #000000;
	  transition: color 0.3s ease;
	}
	.socialIcons a:hover {
    color: #00acee;
}

	.navLinks {
	  position: fixed;
	  top: 0;
	  right: 0;
	  height: 100vh;
	  width: 200px;
	  background-color: #ffffff;
	  flex-direction: column;
	  align-items: flex-start;
	  padding: 2rem 1rem;
	  transform: translateX(100%);
	  transition: transform 0.3s ease-in-out;
	  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
	  z-index: 1000;
	}
  
	.showMenu {
	  transform: translateX(0%);
	}
  
	.navLink {
	  margin: 1rem 0;
	  font-size: 1.1rem;
	}
  }
  