main{
    margin:auto;
    margin-top: 10%;
    width: 70%;
    border-radius: 15px;

}

.pregunta{
    border-radius: 10px;
    background-color: #748CAB;

}

.JarvisIAResponde{
    border-radius: 10px;
    background-color: #748CAB;
    padding: 1%;
}

.preguntarInput{
    margin: auto;
    border-radius: 10px;
    height: 100%;
    padding: 1%;
    background-color: #3E5C76;
    border-bottom: solid 2px #F0EBD8;
   
}

.no-border {
    border: 0;
    box-shadow: none;
    outline: none;
}

input{
    background-color: #3E5C76;
    border-radius: 10px;
    padding-left: 1%;
    height: 100%;
    font-size:large;
    width: 87%;
    color: #F0EBD8;
    
}

input::placeholder{
    color: #F0EBD8;
}

button{
    background-color: #748CAB;
    border-radius: 10px;
    padding: 1%;
    height: 100%;
    margin-left: 1%;
    font-size:large;
    color: #F0EBD8;
}

button:hover{
    background-color: #657995;
}


.About{
    border-radius: 10px;
    margin-top: 2%;
    padding: 2%;
    background-color: #748CAB;
}